@import url("https://fonts.googleapis.com/css2?family=Ubuntu%20Mono:wght@300;400&display=swap");

@font-face {
  font-family: 'Mbilan';
  src: url('/fonts/mbilan.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #007A8D;
  --color-primary-shadow: #45798C;
  --color-bg: #F0FEFF;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --color-text-p: #252525;
  --color-text-desc: #545454;
  --color-footer: rgb(120, 120, 120);
  --color-bg: #F0FEFF;
  --gradient-start: #1A262A;
  --gradient-end: #3B4B51;
  --gradient-start-inverse: #CDEDFE;
  --gradient-end-inverse: #c8d0d5;
}

.dark-mode {
  --color-primary: #60A5B1;
  --color-primary-shadow: #D2E4E7;
  --color-bg: #27373C;
  --color-border: #4E4E4E;
  --color-sidebar-item: #3C3C3C;
  --color-text-p: #e5e7eb;
  --color-text-desc: #c1c1c1;
  --color-footer: rgb(158, 158, 158);
  --gradient-start: #CDEDFE;
  --gradient-end: #c8d0d5;
  --gradient-start-inverse: #1A262A;
  --gradient-end-inverse: #3B4B51;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: "Ubuntu Mono", sans-serif;
}

.layout {
  display: flex;
  position: relative;
  gap: 2rem;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  /* background-color: var(--color-primary); */
}

.layout__main-content {
  flex-grow: 1;
  margin: 15px 15px 15px 0px;
  box-shadow: 1px 1px 4px 1px var(--color-primary-shadow);
  /* background-color: var(--color-bg); */
  background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse));
  border-radius: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  color: var(--color-footer);
  border-top: 2px solid rgb(208, 208, 208);
  height: 50px;
  flex-shrink: 0;
}

.layout__main-content_mobile {
  flex-grow: 1;
  /* background-color: var(--color-bg); */
  background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse));
}

.sidebar__wrapper {
  position: sticky;
  top: 0;
  left: 0;
  /* margin-right: 15px; */
  height: 100vh;
  z-index: 1000; 
  box-shadow: 0.5px 0.5px 0.5px 0.5px var(--color-primary-shadow);
}

.sidebar__wrapper_mobile {
  position: fixed;
  box-shadow: 0.5px 0.5px 0.5px 0.5px var(--color-primary-shadow);
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--color-bg);
  background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse));
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-p);
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text-p);
  padding: 0.8rem 1rem;
  display: flex;
  box-shadow: 0px 1px 1px var(--gradient-start);
  /* background-color: var(--color-sidebar-item); */
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link:hover {
  cursor: pointer;
}

.sidebar__link--active {
  color: var(--color-bg);
  background-color: var(--color-primary);
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  padding: 90px 90px 25px 90px;
}

.btnMbl {
  position: fixed;
  left: 0.25rem;
  right: 0;
  top: 1.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px 1px var(--color-primary);
  color: var(--color-primary);
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  color: var(--color-primary);
}

.avatar {
  /* background-color: var(--color-primary); */
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 350px;
  height: 350px;
}

.avatarSmallScreen {
  background-color: var(--color-primary);
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 200px;
  height: 200px;
}

.name {
  padding: "0px 0px 15px 0px";
  font-size: x-large;
  color: var(--color-text-p);
}

.text {
  color: var(--color-text-p);
}

.description {
  color: var(--color-text-desc);
}

.skillLogo {
  margin-right: 15px;
  border-radius: 50%;
  /* box-shadow: 1px 1px 2px 1px var(--color-primary); */
  box-shadow: 0px 1px 1px var(--gradient-start);
  width: 45px;
  height: 45px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
}

.loadingBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBarFullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.socmed_button {
  /* width: 130px; */
  padding: 5px 10px 5px 10px;
  /* display: flex; */
  /* background-color: #d20303; */
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 1px 1px var(--gradient-start);
}

@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    padding: 40px;
  }

  .btn {
    position: absolute;
    right: 0.75rem;
    top: 4.7rem;
    border: none;
    background-color: var(--color-bg);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
    color: var(--color-primary);
  }
}
