@import url("https://fonts.googleapis.com/css2?family=Ubuntu%20Mono:wght@300;400&display=swap");

@font-face {
  font-family: 'Mbilan';
  src: url('/fonts/mbilan.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Custom scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--gradient-end); /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg); /* Thumb color */
  border-radius: 10px; /* Round corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

.custom-scrollable {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

.custom-scrollable::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollable::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.custom-scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


:root {
  --color-primary: #007A8D;
  --color-primary-shadow: #313231;
  --color-bg: #ff9500;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --color-text-p: #252525;
  --color-text-p-hover: #e5e7eb;
  --color-text-desc: #545454;
  --color-footer: rgb(120, 120, 120);
  --color-bg: #F0FEFF;
  --gradient-start: #6296c4;
  --gradient-end: #e95c9f;
  --gradient-start-inverse: #CDEDFE;
  --gradient-end-inverse: #c8d0d5;
}

.dark-mode {
  --color-primary: #60A5B1;
  --color-primary-shadow: #D2E4E7;
  --color-bg: #313231;
  --color-border: #4E4E4E;
  --color-sidebar-item: #3C3C3C;
  --color-text-p: #e5e7eb;
  --color-text-p-hover: #252525;
  --color-text-desc: #c1c1c1;
  --color-footer: rgb(158, 158, 158);
  --gradient-start: #c84c4c;
  --gradient-end: #525fbc;
  --gradient-start-inverse: #252525;
  --gradient-end-inverse: #252525;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: "Ubuntu Mono", sans-serif;
}

.layout {
  display: flex;
  position: relative;
  gap: 2rem;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  /* background-color: var(--color-bg); */
}

.layout__main-content {
  flex-grow: 1;
  margin: 15px 15px 15px 0px;
  box-shadow: 1px 1px 4px 1px var(--color-primary-shadow);
  background-color: var(--color-bg);
  /* background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse)); */
  border-radius: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  color: var(--color-footer);
  border-top: 2px solid rgb(208, 208, 208);
  height: 50px;
  flex-shrink: 0;
}

.layout__main-content_mobile {
  flex-grow: 1;
  background-color: var(--color-bg);
  /* background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse)); */
}

.sidebar__wrapper {
  position: sticky;
  top: 15px;
  left: 15px;
  /* margin-right: 15px; */
  height: calc(100vh - 30px);
  z-index: 1000;
  box-shadow: 0.5px 0.5px 0.5px 0.5px var(--color-primary-shadow);
  border-radius: 10px;
}
/* Fixed mobile menu toggle button */
.mobile-menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1010;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--gradient-start);
}

/* Full-screen mobile sidebar */
.sidebar__mobile_fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar__mobile_fullscreen--open {
  transform: translateX(0);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-bg);
  padding: 0.5rem 0;
  border-top: 1px solid var(--gradient-start);
  z-index: 1000;
}

.bottom-nav__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bottom-nav__item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.bottom-nav__icon {
  font-size: 1.5rem;
  color: var(--text-color);
}

.bottom-nav__link--active .bottom-nav__icon {
  color: var(--highlight-color);
}

/* .sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
} */

/* Sidebar links */
.sidebar__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

/* Overlay for mobile sidebar */
.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--color-bg);
  /* background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse)); */
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
  border-radius: 10px;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 50%;
  background-color: var(--gradient-start);
  transform: scaleX(-1);
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-p);
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text-p);
  padding: 0.8rem 1rem;
  display: flex;
  box-shadow: 0px 1px 1px var(--gradient-start);
  /* background-color: var(--color-sidebar-item); */
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.navbar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text-p);
  padding: 0.8rem 1rem;
  display: flex;
  /* box-shadow: 0px 1px 1px var(--gradient-start); */
  /* background-color: var(--color-sidebar-item); */
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link:hover {
  cursor: pointer;
  /* background-color: var(--gradient-start); */
  color: var(--gradient-end);
}

.navbar__link:hover {
  cursor: pointer;
  /* background-color: var(--gradient-start); */
  color: var(--gradient-end);
}

.sidebar__link--active {
  color: var(--color-bg);
  background-color: var(--gradient-start);
}

.navbar__link--active {
  color: var(--color-bg);
  background-color: var(--gradient-start);
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  padding: 90px 90px 25px 90px;
}

.btnMbl {
  position: fixed;
  left: 0.25rem;
  right: 0;
  top: 1.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px 1px var(--gradient-start);
  color: var(--gradient-start);
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  color: var(--gradient-start);
}

.avatar {
  /* background-color: var(--color-primary); */
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 350px;
  height: 350px;
}

.avatarSmallScreen {
  /* background-color: var(--color-primary); */
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  border-radius: 12px;  
  object-fit: cover;
  object-position: center;
  display: block;
  width: 200px;
  height: 250px;
}

.name {
  padding: "0px 0px 15px 0px";
  font-size: x-large;
  color: var(--color-text-p);
}

.text {
  color: var(--color-text-p);
}

.description {
  color: var(--color-text-desc);
}

.skillLogoContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; /* Enables wrapping */
}

.skillLogo {
  margin-right: 15px;
  box-shadow: 0px 1px 1px var(--gradient-start);
  height: 45px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--color-text-desc);
}

.skillLogo:hover {
  background-color: var(--gradient-end-inverse);
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  box-shadow: 0px 1px 1px var(--gradient-start);
}

.card:hover {
  background-color: var(--gradient-end-inverse);
}

.loadingBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBarFullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingBarWithSideBar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gradient-start)
}

.socmed_button {
  /* width: 130px; */
  padding: 5px 10px 5px 10px;
  /* display: flex; */
  /* background-color: #d20303; */
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 1px 1px var(--gradient-start);
}

@media (max-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    padding: 30px;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 4.7rem;
    border: none;
    background-color: var(--color-bg);
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
    color: var(--gradient-start);
  }

  .sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    /* background: linear-gradient(135deg, var(--gradient-start-inverse), var(--gradient-end-inverse)); */
    padding: 1rem;
    padding-top: 3rem;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    overflow: hidden;
  }

  .skillLogo {
    height: 30px; /* Smaller height */
    padding: 5px; /* Smaller padding */
    font-size: 0.8rem; /* Adjust font size */
    margin-bottom: 5px;
  }
  
}
